@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(14, 96, 81);
    --secondary-color: rgb(5, 31, 26);
    --color-not-ok: rgb(100, 8, 8);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr th {
    text-align: left;
    border: 1px solid black;
    height: 50px;
    padding-left: 10px;
    background-color: var(--primary-color);
    color:#fff;
}

table tr td {
    border: 1px solid black;
    padding-left: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--secondary-color);
}

.resultado-ok {
    background-color: #fff;
    width: 100%;
    min-height: 83px;
    height: auto;
    color: var(--primary-color);
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
}

